* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
input:focus{
  outline: none;
}
body {
  background-image: url("../public/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100vh;
}
.container {
  width: 80vw;
  height: 95vh;
  background-color: rgba(17, 25, 40, 0.75);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
}

::-webkit-scrollbar{
  width: 6px;
  }
::-webkit-scrollbar-track{
  background: rgba(24, 24, 30, 0.913);
  border-radius: 15px;
}